<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> Calculadora de IMC </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="onCalculate()" color="secondary" [disabled]="!isFormValid()">
      <ion-icon name="calculator"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item>
    <ion-label position="floating">Peso (kg)</ion-label>
    <ion-input type="number" [(ngModel)]="weight"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Altura (m)</ion-label>
    <ion-input type="number" [(ngModel)]="height"></ion-input>
  </ion-item>
</ion-content>
